.spacer-left {
  flex: 1 1 auto;
}

.center-links {
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    margin: 0 20px;
  }
}

.spacer-right {
  flex: 1 1 auto;
}

.right-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  a {
    margin-left: 20px;
  }
}

@media (max-width: 600px) {
  .center-links,
  .right-links {
    display: none;
  }

  button[mat-icon-button] {
    display: block;
  }

  img {
    height: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.mat-toolbar {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  padding: 16px;
  border-radius: 4px;
  background-color: white;

  img {
    height: 80px;
  }
}
