.shop-root {
  padding-top: 50px;
  padding-left: 380px;
  padding-right: 380px;
  padding-bottom: 50px;
}

// Filters Section
.search {
  display: flexbox;
  justify-content: flex-start;
  border-radius: 5px;
}

.input {
  display: flexbox;
  justify-content: flex-start;
}

.filters {
  margin-right: 50px;
}

mat-list-option {
  padding: 0;
  margin: 0;
  border: 0;
  width: 300px;
  height: 50px;
}

mat-form-field {
  width: 300px;
  height: 50;
}
